{% extends 'admin/adminbase.html' %}
{% load static %}

{% block content %}


<div class="row flex-grow">
    <div class="col-12 grid-margin stretch-card">
        <div class="card card-rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div>
                                <h4 class="card-title card-title-dash">Book details</h4>
                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">

                                <div class="d-flex">
                                    <div class="card" style="width:400px">
                                        <img class="card-img-top" src="{{ book.image.url }}" alt="Book image" style="width:50%">
                                    </div>

                                    <div class="card-body">
                                        <h4 class="card-title">Book: {{book.title}}</h4>
                                        <p class="card-text">Price: {{book.price}}</p>
                                    </div>
                                </div>

                                <div class="text-muted text-small"> 1h ago</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

